h2.no_bookings {
  margin: 40px auto;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #121212;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}

.list-group {
  width: 100%;
}

.list-group-item {
  display: flex !important;
  justify-content: space-around;
  align-items: center;
}

.list-group-item span {
  width: 80%;
  font-size: 20px;
}

.list-group-item svg {
  font-size: 48px;
  background-color: #17a2b8;
  border-radius: 50%;
  border: 2px solid #454558;
  padding: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.list-group-item svg:hover {
  transform: scale(1.1);
}

.slots_Card {
  height: 300px;
  margin: 0 auto !important;
}

.slots_Card .card_body > div.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slots_Card .card_body h5 {
  color: #17a2b8;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}
.slots_Card .card_body > div.row > button {
  /* background-color: #17a2b8; */
  padding: 5px;
  width: 140px !important;
  height: 100px;
  margin: 5px 5px !important;
  /* border: 2px solid #17a2b8; */
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slots_Card .card_body > div.row > button:active:focus {
  box-shadow: 0 0 0 0.2rem rgb(222 170 12 / 50%);
}

/* .slots_Card .card_body > div.row > div > div {
} */

.slots_nav {
  display: flex;
  justify-content: center;
}
.slots_nav button {
  margin: 0 5px;
}

.showslotsTiming table tbody tr td.no_data {
  font-size: 20px;
}

@media screen and (max-width: 480px) {
  .showslotsTiming table tbody tr td.no_data {
    font-size: 13px;
  }
}

.btn:focus:active {
  background-color: #19682c;
}
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
