.users_heading {
  margin: 20px;
}
.users_heading h2 {
  color: #17a2b8;
  font-family: "Raleway", sans-serif;
  font-size: 45px;
  font-weight: 800;
  line-height: 72px;
  margin: 0 0 0px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -1px 2px 5px #17a3b850,
    0px -1px 10px #272929a8;
}
@media screen and (max-width: 550px) {
  .users_heading h2 {
    font-size: 33px;
    font-weight: 800;
    line-height: 30px;
  }
}

table thead {
  border-radius: 10px;
}
/* table thead{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.navbar-brand {
  font-size: 20px;
  margin-right: 0 !important;
}

.card_body a:hover{
  text-decoration: none;
}