@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");

body {
  font-family: "Merriweather Sans", sans-serif !important;
  background-color: #18454ac0;
}

.main_heading {
  margin-bottom: 20px;
}

.card_body {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
